


@font-face {
    font-family: Monsterrat;
    src: url('../fonts/Monsterrat/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: MonsterBold;
    src: url('../fonts/Monsterrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Monster-thin;
    src: url('../fonts/Monsterrat/Montserrat-Thin.ttf');
}