*{
    font-family: Monsterrat;

}


a{
    display: block;
    text-decoration: none;
    
    
}

p{
    /* font-family: Montserrat; */
font-size: 15px;
font-weight: 400;
}

.hamuburger-close-bg{
    display: none;
}