.options button.change {
  width:40px;
height:40px;
border-radius: 12px;
  background-color: var(--primary-color-6);
  
}
.options {
  height: 100%;
  flex-basis: 20%;

  gap: 2px;
  background-color: var(--primary-color-5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options-txt-control button:hover{
cursor: pointer;
animation: btnanimation 0.3s 
}

.options-txt-control{
  display: grid;
  grid-template: 1fr 1fr/repeat(5,60px);
  align-items: center;
  justify-content: center;
}
  
  

.options-top{
  flex-direction: column;
  padding-top: 5px;
  gap: 30px
}
.options-top-buttons {
  align-items: center;
  justify-content: center;

}

.share-opts{
  justify-content: flex-end;
}

.emotes{
  position: relative;

}
.emotes-carousel{
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}


.emotes button{
  font-size: 40px;
  border: none;
  width: 22px;
}

 a.orng-btn{
  width: 120px;
height: 60px;
text-align: center;
padding-top: 16px;
background-color: var(--primary-color-1);
border-radius: 12px;
font-size: 20px;
font-weight: 600;
font-family: Monsterrat;
color: var(--primary-color-6);
border: none;
}
a.orng-btn:hover{
  font-size: 22px;
  /* height: 68px */
}
button.orng-btn:hover{
  font-size: 22px;
  
}
button.share-btn-options{
  margin-bottom: 5px;
}

.share-modal{
  position: absolute;
  background-color: hsl(36deg 100% 50% / 38%);

   z-index: 30;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

.close-share-modal{
  position: absolute;
  top:0;
  right:0
}



.move-text-right {
  background-image: url(../icons-icons/align-to-right.png);
  background-size: contain;
}
.move-text-center {
  background-image: url(../icons-icons/center-text-alignment.png);
  background-size: contain;
}
.move-text-left {
  background-image: url(../icons-icons/align-to-left.png);
  background-size: contain;
}

.move-selected-up {
  background-image: url(../icons-icons/upppp.png);
  background-position: -10px -9px;
  background-size: 72px;
}
.move-selected-down {
  background-image: url(../icons-icons/downnn.png);
  background-position: -26px -15px;
  background-size: 72px;
}
.add-txt-line {
  background-image: url(../icons-icons/add.png);
  background-size: contain;
}
.delete-txt-line {
  background-image: url(../icons-icons/trash.png);
  background-size: contain;
}
.dec-font{
    background-image: url(../icons-icons/decrease\ font\ -\ icon.png );
    background-size: contain;
}
.inc-font{
    background-image: url(../icons-icons/increase\ font\ -\ icon.png);
    background-size: contain;
}

.change-stroke-color-btn{
    background-image: url(../icons-icons/text\ stroke.png);
    background-size: contain;
    text-decoration: none;
}
.change-txt-color-btn{
    background-image: url(../icons-icons/paint-board-and-brush.png);
    background-size: contain;
    text-decoration: none;
}
.save.change{
    background-image: url(../icons-icons/save.png);
    background-size: contain;
    text-decoration: none;
}
.change-stroke-color-input{
    width: 40px;
    height: 40px;
  opacity: 0;
  position: absolute;
  transform: translate(-50% ,-50%);
}
.change-stroke-color{
    width: 40px;
    height: 40px;
    position: relative;
}
.change-txt-color-input{
    width: 40px;
    height: 40px;
  opacity: 0;
  position: absolute;
  transform: translate(-50% ,-50%);
}
.change-txt{
    width: 40px;
    height: 40px;
    position: relative;
}

button.orng-btn{
  width: 120px;
height: 60px;
text-align: center;
background-color: var(--primary-color-1);
border-radius: 12px;
font-size: 20px;
font-weight: 600;
font-family: Monsterrat;
color: var(--primary-color-6);
border: none;
}

.emotes{
  width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
height: 135px;
background-color: var(--primary-color-6);
width: 400px;
}

.emotes img {
  aspect-ratio: 1/0.8;
  
}
.emotes-carousel img:hover {
  aspect-ratio: 1/1;
  
    animation: rotation 1s infinite linear;
  
  
}
.emotes-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 3;
  

  
}
.emotes-carousel> * {
  width: 60px;
  height: 100%;


  
}
.emotes button{
  height: 100%;
  background-color: var(--primary-color-6);
  flex-grow: 1;

}

.right-emote-nav img{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 30%;
 object-fit: cover;
}
.left-emote-nav img{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 30%;
 object-fit: cover;
  /* aspect-ratio: 1/3 */
}
.left-emote-nav img:hover, .right-emote-nav img:hover{
  aspect-ratio: 1/3;
  cursor: pointer;
  height: 35%;
}
.delete-saved-meme{
position: absolute;
z-index: 20;
bottom: 0;
right: 0;
width: 30px;
height: 30px;
background-image: url(../icons-icons/trash.png);
background-size: contain;
}

.saved-meme-img{
  position: relative;
}

.font-style{
  grid-area: 2/1/3/4;
 /* width: 100%; */


}
.font-list{
  height: 40px;
  display: flex;
  
}