.main-header {
  /* flex-grow: 1; */
  background-color: var(--primary-color-1);
}

a.main-nav-item {
  color: var(--primary-color-6);
  /* font-weight: 100; */
  font-size: 1.1875rem;
  height: 70px;
  justify-content: space-between;
  transition: 0.3 ease;
  align-items: center;
}

.header.flex.middle-layout {
  justify-content: space-between;
  align-items: center;
}
.page-nav {
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.page-nav a:hover {
  box-shadow: inset 0px -3px 0px 0px var(--primary-color-3);
  /* background-color:red ; */
}
/* .page-nav a{
    
} */
.gallery-btn {
  display: block;
  padding-right: 5px;
  margin-right: 3px;
  transition: 0.3 ease;

  /* height: 50%; */
  border-right: var(--primary-color-4) solid 1px;
}
.page-nav span:hover {
  color: var(--primary-color-3);
}
